.nav {
    display: flex;
    column-gap: 2rem;
}
.nav .nav__tab {
    position: relative;

    padding-top: 4px;
    display: flex;
    align-items: center;
    padding-inline: .5rem;

    text-decoration: none;

    transition:
        color .25s ease,
        transform .25s ease;
}
.nav .nav__tab::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 6px;

    width: 0;
    height: 2px;

    background: var(--color-on-primary);

    transform: translateX(-50%);
    transition: width .3s cubic-bezier(.4,0,.2,1);
}
.nav .nav__tab.router-link-active {
    transform: translateY(-2px);
}

.nav .nav__tab.router-link-active::after {
    width: 100%;
}
.nav .nav__tab:hover {
    transform: translateY(-2px);
}

.nav .nav__tab:hover::after {
    width: 100%;
}
.nav .nav__actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav .nav__actions .nav__icon {
    height: 3rem;
    width: 3rem;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms ease;
}
.nav .nav__actions .nav__icon:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav .nav__actions .nav__icon img {
    height: 1.5rem;
}
.nav .nav__actions .nav__cta {
    margin-left: 2rem;
    padding: 1rem;
    background-color: var(--color-on-primary);
    color: var(--color-primary);
    border-radius: 0.5rem;
    box-shadow: 0 1px 0.5rem 0 rgba(0, 0, 102, 0.5);
    transition: transform 100ms ease;
}
.nav .nav__actions .nav__cta:hover:not(:active) {
    transform: translateY(-2px);
}
