.nav{
    position:relative;
    display:flex;
    align-items:center;
    column-gap:2rem;
}
.nav .nav__tab {
    position: relative;

    padding-top: 4px;
    display: flex;
    align-items: center;
    padding-inline: .5rem;

    text-decoration: none;

    transition:
        transform .25s cubic-bezier(.22,1,.36,1),
        color .25s ease;

}

.nav .nav__tab:hover{

    transform:translateY(-2px);

}

/* Ẩn underline cũ */

.nav .nav__tab::after{
    display:none;
}


.nav-highlight{

    position:absolute;

    bottom:-3px;

    left:0;

    width:0;

    height:2px;

    border-radius:999px;

    background:var(--color-on-primary);

    transition:
        left .35s cubic-bezier(.22,1,.36,1),
        width .35s cubic-bezier(.22,1,.36,1);

    pointer-events:none;

    z-index:5;

}

/* Glow Light */

header:not(.dark):not(.darker) .nav-highlight{

    box-shadow:
        0 0 6px rgba(0,0,0,.18);

}

/* Glow Dark */

header.dark .nav-highlight,
header.darker .nav-highlight{

    box-shadow:
        0 0 10px rgba(255,255,255,.45),
        0 0 18px rgba(255,255,255,.15);

}